.panel_wrapper {border-top:1px solid #B8B8B8;}
.panel_wrapper div.current { height:460px; }
#btn-preview-container { margin: 5px 0 10px 0 }
#preview, textarea#source { width: 99.7% }
#preview { border:1px solid #B8B8B8; height:210px; overflow:auto; }
